html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: azure;
    margin-bottom: 60px;
    padding-top: 60px;
}

.body-inherited-style-home-page {
    background-color: #4298a1; /* Light blue */
    padding-top: 30px;
    border-radius: 8px; /* Rounds the corners of the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for a lifted effect of the image */
}

h1, p {
    color: #4298a1;
}

.h1-p-inherited-text-style-home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
}

.navbar-inherited-style {
    background-color: azure;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 0.3125rem;
}

.navbar-inherited-text-style {
    color: #4298a1;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-inherited-text-style:hover {
    color: #C9B79C;
}

.navbar-inherited-text-logged-user {
    color: #4298a1;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-inherited-text-logged-user:hover {
    color: #4298a1;
}

button {
    border: none;
}

.button-inherited-style {
    background-color: #4298a1; /* Dark Blue */
    color: azure;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    overflow: hidden;
    border-radius: 4px;
}

.button-inherited-style:hover {
    background-color: #667bd9;
    color: white;
}

.footer-inherited-style {
    background-color: azure;
}

.footer-inherited-text-style {
    color: #4298a1;
}

.img-inherited-simple-picture img {
    max-width: 100%; /* Prevents the image from exceeding the container width */
    height: auto; /* Automatically adjusts the height to maintain the image's aspect ratio */
    display: block; /* Removes excess space from the sides of the image */
    margin: 0 auto; /* Centers the image inside the container if the width is not 100% */
    border-radius: 8px; /* Rounds the corners of the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for a lifted effect of the image */
}

.img-inherited-simlpe-picture img:hover {
    transform: scale(1.1); /* Enlarges the image by 10% on hover */
    transition: transform 0.3s ease; /* Smooth animation lasting 0.3 seconds */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    padding: 20px;
}

.image-container img {
    width: 25%;
    height: auto;
    margin: 0 10px;
    border-radius: 8px; /* Rounds the corners of the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for a lifted effect of the image */
}